*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
body{
	background-color: #050505;
	color: #F9FDFC;
}
h1{
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Rock Salt', cursive;
}
h1#website{
	font-size: 50px;
	color: #ffbf00	;
	margin: 10px 25px;
}
h3, p{
	font-family: 'Advent Pro', sans-serif;
}
p#self{
	font-size: 70px;
	font-weight: bolder;
	margin: 50px 100px 50px 50px;
	padding: 50px 180px 50px 50px;
	/* border: 3px solid red; */
}
aside{
	width: 200px;
	height: auto;
	margin-top: 150px;
	float: right;
/*	background-color: #F9FDFC;*/
	color: #050505;
	border-left: 2px solid #581845;
}
button{
	align-items: right;
	border-radius: 5px;
	border: none;
	margin: 10px;
	padding: 10px;
}
#btn01, #btn04, #btn07{
	background-color: #FBB03B;
}
#btn02, #btn05{
	background-color: #036FBC;
}
#btn03, #btn06{
	background-color: #E82351;
}
